*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.2)), url(./Images/pexels-timmossholder-974314.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    padding: 15px 20px;
    color: black;

}
.navbar ul li{
  display: inline;
  margin-right: 20px;
  font-weight: bold;

}

.navbar ul{
  list-style-type: none;
}
ul li:hover{
  margin-left: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: green;
  border-radius: 20px


}
.navbar  ul li::after{
  color: white;
  position: absolute;
  width: 0;
  content: '';
  transition: 0.5s;
  bottom: -10px;
  left: 0;
}
.navbar ul li:hover::after{
  width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
.logo{
  width: 150px; /* Adjust the width as needed */
    height: auto; /* This keeps the aspect ratio */
    max-width: 100%; /* Ensures it doesn't exceed its container */
    max-height: 100%;
  cursor: pointer;
}
.moreInfo{
  height:inherit;
  background-color: CadetBlue;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 25px;
  align-content: center;
}
h1{
  font-size: 50px;
  font-style: oblique;
  font-weight: bold;
  color: Darkgray;
}
.moreInfo p{
  color: white;
  font-size: 15px;
}
.moreInfo a{
  text-decoration: underline;
}
.moreInfo a:hover{
  color: blue;
  font-size: 20px;
}
p a{
  font-style: normal;
}
.social-media{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}
.social-media img{
  width: 20px;
  transition: transform 0.5s ease;
}
.social-media img:hover{
  transform: scale(1.2);
}
.contact-info {
  background-color: DarkSeaGreen; /* Replace with your desired background color */
  color: black;
  padding-bottom: 10px;/* Adjust padding as needed */
  align-content: center;
  padding-left: 50px;
  height: 35px;
  display: flex;
  position: fixed;
  width: 100%;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.contact-info p {
  margin-right: 15px;
  display: inline;
  justify-content: space-between;

}

.contact-info a {
  color: white;
  text-decoration: none;
}

.contact-info i {
  font-size: 20px;
  margin: 0 5px;
}
.loc, .num, .mail{
  height: 15px;
  width: 15px;
}
footer{
  background-color: Darkgray;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  align-content: center;
  text-align: center;
}
.scroll-container {
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-content {
  display: flex;
  transition: transform 0.5s ease;
}

.scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.scroll-item img{
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px
}
h2{
  font-size: 15px;
  color: black;
}

.scroll-container:hover .scroll-content {
  transform: translateX(-150px); /* Adjust the value to control the movement distance */
}
